body 
    {
        background-color: #FFFFFF;
        color:#000000;
        width: 100%;
        height: auto;
        color: #000000;
    }

#logo
    {
        display: flex;
        justify-content: center;
    }

#links
    {
        justify-content: center;
        text-align: center;
        width:33%;
        margin-left: 33%;
    }

#navMenu
    {
        background-color: #1e1e1e;
        border-top: 1px solid #383838;
        margin-bottom: 5px;
        z-index:105;
    }

#navLinks
    {
        width: 100%;
        font-size: 28px;
        text-transform: uppercase;  
        display: flex;
        justify-content: center; 
    }

a
    {
        padding-right: 2%;
        color: #FFFFFF;
        text-decoration: none;
    }

#slide
    {
        display: none;
    }

#slideshow
    {
        justify-content: center;
        display: flex;
    }

button
    {
        height: 5%;
        width: auto;
        margin-top: 10%;
        background-color: #000000;
        color: #FFFFFF
    }